<div class="mainbackground">
    <div id="gamelistcontainer" >
        <h2>All Games</h2>
        <table id="gamelistcreatorname" class="smalltextclass">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Creator</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody v-for="game in this.$store.state.allGames" v-bind:key="game.id">
                <tr>
                    <td v-on:click='SetSelectedGame(game)'>{{game.gameName}}</td>
                    <td>{{game.creatorName}}</td>
                    <td>{{game.startDate}}</td>
                    <td>{{game.endDate}}</td>
                    <td>{{game.statusName}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div>
    <!-- <div class="mainbackground"> -->
        <div id="gamelistcontainer" v-for="game in this.$store.state.allGames" v-bind:key="game.id">
  <!-- <router-link :to="{name:'gamedetails', params: {gameid:game.gameId}}"> -->
            <button class="buttondefault" v-on:click='SetSelectedGame(game)'>
            <span>{{game.gameName}}</span>
              </button>
                <!-- </router-link> -->
            <span id="allname" class="textclass">{{game.creatorName}}</span>
            <span id="allstart" class="textclass">{{game.startDate}}</span>
            <span id="allend" class="textclass">{{game.endDate}}</span>
        </div>
        
    </div>
  